.text_button {
  padding: 0 8px;
  font-weight: var(--bodyLong01Weight);
  font-size: var(--bodyLong01Size);
  line-height: var(--bodyLong01Height);
  letter-spacing: var(--bodyLong01Spacing);
  background: transparent;
  border: none;
  cursor: pointer;
}

.text_button:disabled {
  color: var(--disabled03);
}

.text_button--primary {
  color: var(--text01);
}

.text_button--secondary {
  color: var(--textAccent01);
}

.text_button--success {
  color: var(--textAccent02);
}

.text_button--icon {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: 8px center;
}

.text_button--icon-cross {
  background-image: url("./../../../public/icon-navigation-close-16.svg");
}
