.radiobutton input {
  position: relative;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

.radiobutton__wrapper {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: 20px 1fr;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.radiobutton__container {
  display: flex;
  grid-column-start: 1;
  width: 20px;
  height: 20px;
  margin-top: 1px;
}

.radiobutton__visualization {
  align-self: center;
  justify-self: center;
  width: 17px;
  height: 17px;
  background-color: var(--uiBackgroundWhite);
  border: 1px solid var(--ui03);
  border-radius: var(--borderRadiusCircle);
}

.radiobutton__caption {
  grid-column-start: 2;
  color: var(--text01);
  font-weight: var(--bodyShort01Weight);
  font-size: var(--bodyShort01Size);
  line-height: var(--bodyShort01Height);
  letter-spacing: var(--bodyShort01Spacing);
}

.radiobutton input[disabled] ~ .radiobutton__wrapper {
  cursor: initial;
}

.radiobutton input:checked ~ .radiobutton__wrapper .radiobutton__visualization {
  width: 18px;
  height: 18px;
  background-color: var(--icon04);
  border: 6px solid var(--interactive01);
}

.radiobutton input[disabled] ~ .radiobutton__wrapper .radiobutton__visualization {
  border: 1px solid var(--disabled03);
  cursor: initial;
}

.radiobutton input[disabled]:checked ~ .radiobutton__wrapper .radiobutton__visualization {
  width: 18px;
  height: 18px;
  background-color: var(--disabled02);
  border: 6px solid var(--disabled01);
  cursor: initial;
}

.radiobutton input[disabled] ~ .radiobutton__wrapper .radiobutton__caption {
  color: var(--text04);
}

.radiobutton--narrow .radiobutton__wrapper {
  width: 245px;
}

.radiobutton--wide  .radiobutton__wrapper {
  width: 545px;
}

.radiobutton--block .radiobutton__wrapper,
.radiobutton--block-comment .radiobutton__wrapper {
  min-height: 40px;
  padding: 6px 16px;
  border: 1px solid var(--interactive02);
  border-radius: var(--borderRadiusRegular);
}

.radiobutton--block .radiobutton__wrapper:hover,
.radiobutton--block-comment .radiobutton__wrapper:hover {
  border: 1px solid var(--interactive02);
}

.radiobutton--block input:checked ~ .radiobutton__wrapper,
.radiobutton--block-comment input:checked ~ .radiobutton__wrapper {
  background-color: var(--highlightUi01);
  border: 1px solid var(--interactive01);
}

.radiobutton--block input[disabled] ~ .radiobutton__wrapper,
.radiobutton--block-comment input[disabled] ~ .radiobutton__wrapper {
  border: 1px solid var(--ui02);
}

.radiobutton--block-comment .radiobutton__wrapper {
  padding: 16px;
}

.radiobutton--block-comment .radiobutton__caption {
  font-weight: var(--label01Weight);
  font-size: var(--label01Size);
  line-height: var(--label01Height);
  letter-spacing: var(--label01Spacing);
}

.radiobutton--block-comment .radiobutton__comment {
  grid-column-start: 2;
  margin-top: 8px;
  color: var(--text01);
  font-weight: var(--bodyLong01Weight);
  font-size: var(--bodyLong01Size);
  line-height: var(--bodyLong01Height);
  letter-spacing: var(--bodyLong01Spacing);
}

.radiobutton--block-comment input[disabled] ~ .radiobutton__wrapper .radiobutton__comment {
  color: var(--text04);
}
