.dropdown-button {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-button__dropdown-list {
  display: none;
}

.dropdown-button__dropdown-list:hover {
  display: block;
}

.dropdown-button__button-container {
  padding-bottom: 8px;
}

.dropdown-button__button-container:hover + .dropdown-button__dropdown-list {
  display: block;
}
