@import '../../variables.scss';

.checkbox {
    // position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 24px;

    & input {
        position: absolute;
        width: 0;
        height: 0;
        z-index: -1;
        opacity: 0;
    }

    &__visualization {
        position: relative;
        height: 15px;
        width: 15px;
        border-radius: 2px;
        border: 1px solid $ui-03;
        margin-right: 11px; // including 1px for visual compensation of chenging size when checked
        cursor: pointer;
    }

    &__caption {
        padding-top: 2px;
        @include body-short-01;
        white-space: nowrap;
        cursor: pointer;
    }

    & input[disabled] ~ .checkbox__caption {
        cursor: initial;
    }

    & input:checked ~ .checkbox__visualization {
        width: 16px;
        height: 16px;
        border: none;
        background-color: $interactive-01;
        margin-right: 10px;

        &::after {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            width: 8px;
            height: 4px;
            border-left: 1.3px solid $text-01;
            border-bottom: 1.3px solid $text-01;
            transform: rotate(-45deg);
        }
    }

    & input[disabled] ~ .checkbox__visualization {
        border: 1px solid $ui-02;
        cursor: initial;
    }

    & input[disabled]:checked ~ .checkbox__visualization {
        width: 16px;
        height: 16px;
        border: none;
        background-color: $ui-02;
        cursor: initial;
        margin-right: 10px;

        &::after {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            width: 8px;
            height: 4px;
            border-left: 1.3px solid $text-05;
            border-bottom: 1.3px solid $text-05;
            transform: rotate(-45deg);
        }
    }

    &__visualization--tristate {
        width: 16px;
        height: 16px;
        border: none;
        background-color: $interactive-01;
        margin-right: 10px;

        &::after {
            content: '';
            position: absolute;
            top: 7px;
            left: 4px;
            width: 8px;
            height: 1.5px;
            background-color: $text-01;
        }
    }

    &__visualization--tristate-disabled {
        width: 16px;
        height: 16px;
        border: none;
        background-color: $ui-02;
        cursor: initial;
        margin-right: 10px;

        &::after {
            content: '';
            position: absolute;
            top: 6px;
            left: 3px;
            width: 8px;
            height: 1.5px;
            background-color: $text-05;
        }
    }
}