// grid grid

@import './variables.scss';

$headerHeight: 72px;
$filtersWidth: 288px;

.layout {
    display: flex;
    width: 100vw;
    height: 100vh;

    & a {
        border: none;
        outline: none;
    }

    &__main-nav {
        width: 96px;
        height: 100vh;
        text-align: center;
        background-color: $ui-main-nav-01;
        z-index: 10;
    }

    &__main-nav-logo {
        display: block;
        width: 100%;
        height: $ui-main-nav-03;
        font-size: 32px;
        line-height: 72px;
        color: $interactive-01;
    }

    &__main-nav-section {
        @include body-small-01;
    }

    &__main-nav-section--registries {
        background-color: $ui-main-nav-02;
    }

    &__main-nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 56px;
        color: $text-07;
    }

    &__main-nav-item img {
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        margin-bottom: 2px;
    }

    &__main-nav-item:hover,
    &__main-nav-item:focus {
        color: $text-08;
        background-color: $ui-main-nav-04;
    }

    &__main-nav-item:active {
        color: $text-08;
        background-color: $ui-main-nav-04;
        border-left: 2px solid $focus;
    }

    &__working-area {
        flex-grow: 1;
        height: 100vh;
    }

    &__working-area-header {
        width: 100%;
        height: $headerHeight;
        background-color: $ui-background-white;
    }

    &__working-area-wrapper {
        position: relative;
        height: calc(100vh - #{$headerHeight});
        display: flex;
    }

    &__filters-panel {
        width: $filtersWidth;
        // margin-left: -$filtersWidth;
        height: 100%;
        background-color: $ui-01;
    }

    &__main-content-wrapper {
        flex-grow: 1;
        height: calc(100vh - #{$headerHeight});
        margin: 0 16px;
        display: flex;
        flex-direction: column;
    }

    &__main-content {
        flex-grow: 1;
        // flex-shrink: 1;
        padding: 0 16px;
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-auto-rows: max-content;
        grid-column-gap: 32px;
        grid-row-gap: 0;
        background-color: $ui-background-grey;
        overflow: auto;
    }

    &__main-content-footer {
        flex-shrink: 0;
        flex-basis: 72px;
    }

    &__comments-panel {
        display: none;
        position: absolute;
        right: -16px;
        width: 288px;
        height: calc(100vh - #{$headerHeight});
        background-color: $ui-01;
        z-index: 10;
        transition-duration: 2s;

        &:hover {
            transform: translateX(288px);
        }
    }

    // visualization styles

    
    // for content grid element with columns-width
    // * {
    //     grid-column: [1-17] /[2-17];
    //     grid-row: [1-∞] /[2-∞];
    // }

    // for content grid element with fit-content- or fixed-width
    // * {
    //     grid-column-start: [1-16];
    //     grid-row-start: [1-∞];
    // }

    // examples

    &__button-1 {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    &__button-2 {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    &__button-3 {
        grid-column-start: 1;
        grid-row-start: 9;
    }

    &__button-4 {
        grid-column-start: 3;
        grid-row-start: 9;
    }

    &__button-5 {
        grid-column-start: 6;
        grid-row-start: 1;
    }

    &__button-6 {
        grid-column-start: 8;
        grid-row-start: 1;
    }

    &__button-7 {
        grid-column-start: 6;
        grid-row-start: 9;
    }

    &__button-8 {
        grid-column-start: 8;
        grid-row-start: 9;
    }

    &__button-9 {
        grid-column-start: 11;
        grid-row-start: 1;
    }

    &__button-10 {
        grid-column-start: 13;
        grid-row-start: 1;
    }

    &__button-11 {
        grid-column-start: 11;
        grid-row-start: 9;
    }

    &__button-12 {
        grid-column-start: 13;
        grid-row-start: 9;
    }

    &__ex-rectum {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 16px;
        background-color: #fff;
    }

    &__ex-rectum-1 {
        grid-column: 1 /17;
    }

    &__ex-rectum-2 {
        grid-column: 1 /15;
    }

    &__ex-rectum-3 {
        grid-column: 1 /15;
    }

    &__ex-rectum-4 {
        grid-column: 1 /12;
    }

    &__ex-rectum-5 {
        grid-column: 1 /12;
        height: 100px;
    }

    &__ex-rectum-6 {
        grid-column: 1 /6;
        flex-direction: column;
    }

    &__ex-rectum-7 {
        grid-column: 1 /8;
        display: block;
    }

    &__ex-rectum-8 {
        grid-column: 1 /10;
        display: block;
    }

    &__ex-rectum-9 {
        grid-column: 1 /17;
        display: block;
    }

    &__ex-rectum-10 {
        grid-column: 1 /4;
    }

    &__ex-rectum-11 {
        grid-column: 1 /4;
    }

    &__ex-rectum-2 {
        grid-column: 5 /7;
        grid-row: 1 /4;
        height: 200px;
        background-color: red;
    }

    &__ex-rectum-3 {
        grid-column: 1 /4;
        grid-row: 2 /2;
        height: 126px;
        background-color: blue;
        margin-top: 16px;
    }
}