$button-min-width: 230px;
$border-radius: 4px;

// spacers

$spacer-8: 8px;
$spacer-16: 16px;
$spacer-24: 24px;
$spacer-32: 32px;
$spacer-40: 40px;
$spacer-48: 48px;
$spacer-56: 56px;
$spacer-64: 64px;
$spacer-72: 72px;
$spacer-80: 80px;
$spacer-88: 88px;
$spacer-96: 96px;

//colors

$ui-background-grey: #f6f6f9;
$ui-background-white: #ffffff;

$ui-01: #e9e9eb;
$ui-02: #d3d5d7;
$ui-03: #bdbfc3;
$ui-04: #a0a1a4;
$ui-05: #888a8d;
$ui-06: #252b39;

$ui-main-nav-01: #252b39;
$ui-main-nav-02: #2d3445;
$ui-main-nav-03: #252b39;
$ui-main-nav-04: #666A74;

$ui-main-header: #ffffff;

$interactive-01: #febd2b;
$interactive-02: #bdbfc3;
$interactive-03: #febd2b;
$interactive-accent-01: #53ba20;
$interactive-accent-02: #3887ff;

$text-01: #12151c;
$text-02: #252b39;
$text-03: #7c8088;
$text-04: #bdbfc3;
$text-05: #ffffff;
$text-06: #12151c;
$text-07: #bdbfc3;
$text-08: #ffffff;
$text-accent-01: #53ba20;
$text-accent-02: #3887ff;

$icon-01: #252b39;
$icon-02:  #ffffff;
$icon-03: #7c8088;
$icon-04: #252b39;
$icon-05: #bdbfc3;
$icon-06: #ffffff;
$icon-accent-01: #53ba20;
$icon-accent-02: #3887ff;

$dataviz-ui-01: #febd2b;
$dataviz-ui-02: #e9e9eb;
$dataviz-accent-01: #53ba20;
$dataviz-accent-01-add-01: #a9dc8f;
$dataviz-accent-02: #ff6200;

$support-01: #ff6200;

$focus: #febd2b;
$hover-primary: #eba300;
$hover-secondary: #7c8088;
$hover-accent-01: #339a00;
$hover-accent-02: #1f70ea;
$hover-ui-01: rgba(37, 43, 57, 0.05);

$active-primary: #e69000;
$active-secondary: #7c8088;
$active-accent-01: #53ba20;
$active-accent-02: #3887ff;

$disabled-01: #fede95;
$disabled-02: #d3d5d7;
$disabled-03: #bdbfc3;
$disabled-accent-01: #a9dc8f;
$disabled-accent-02: #9dc4ff;

$highlight-ui-01: #fff5df;
$highlight-ui-02: #f6f6f9;
$highlight-ui-accent-01: #e5f5de;
$highlight-ui-accent-02: #e1edff;
$highlight-ui-accent-03: #ffe7f0;
$highlight-ui-support-01: #ffefe5;

//fonts

@mixin label-01 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: .08px;
}

@mixin caption-01 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: .32px;
}

@mixin body-small-01 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: .32px;
}

@mixin body-short-01 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: .16px;
}

@mixin body-long-01 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: .16px;
}

@mixin productive-heading-01 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0;
}

@mixin productive-heading-02 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
}

@mixin heading-03 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0px;
}


@mixin heading-04 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: .16px;
}
