.dropdown-list {
  width: 256px;
  max-height: 216px;
  padding: 8px 0;
  overflow-y: auto;
  font-weight: var(--bodyShort01Weight);
  font-size: var(--bodyShort01Size);
  line-height: var(--bodyShort01Height);
  letter-spacing: var(--bodyShort01Spacing);
  list-style: none;
  background-color: var(--uiBackgroundWhite);
  border: 1px solid var(--ui02);
  border-radius: var(--borderRadiusRegular);
  box-shadow: 0 1px 20px 0 rgba(204, 208, 219, 0.5);
}

.dropdown-list__item {
  padding: 8px 16px;
}

.dropdown-list__item:hover {
  background-color: var(--uiBackgroundGrey);
  cursor: pointer;
}
