.text-input {
  width: 256px;
  color: var(--text01);
  font-weight: var(--bodyShort01Weight);
  font-size: var(--bodyShort01Size);
  line-height: var(--bodyShort01Height);
  letter-spacing: var(--bodyShort01Spacing);
  border: none;
  border-bottom: 1px solid var(--interactive02);
}

.text-input--error {
  border-color: var(--support01);
}

.text-input:focus {
  border-color: var(--focus);
}

.text-input::placeholder {
  color: var(--text03);
}

.text-input__label {
  margin-bottom: 4px;
  color: var(--text01);
  font-weight: var(--label01Weight);
  font-size: var(--label01Size);
  line-height: var(--label01Height);
  letter-spacing: var(--label01Spacing);
}

.text-input__error-message {
  margin-top: 8px;
  color: var(--support01);
  font-weight: var(--caption01Weight);
  font-size: var(--caption01Size);
  line-height: var(--caption01Height);
  letter-spacing: var(--caption01Spacing);
}

.text-input__help-message {
  margin-top: 8px;
  color: var(--text03);
  font-weight: var(--caption01Weight);
  font-size: var(--caption01Size);
  line-height: var(--caption01Height);
  letter-spacing: var(--caption01Spacing);
}
