:root {
  /* ui background colors */
  --uiBackgroundGrey: #f6f6f9;
  --uiBackgroundWhite: #fff;

  /* ui colors */
  --ui01: #e9e9eb;
  --ui02: #d3d5d7;
  --ui03: #bdbfc3;
  --ui04: #a0a1a4;
  --ui05: #888a8d;
  --ui06: #7c8088;
  --ui07: #2d3445;
  --ui08: #252b39;

  /* interactive colors */
  --interactive01: #febd2b;
  --interactive02: #bdbfc3;
  --interactiveAccent01: #53ba20;
  --interactiveAccent02: #3887ff;

  /* text colors */
  --text01: #12151c;
  --text02: #252b39;
  --text03: #7c8088;
  --text04: #bdbfc3;
  --text05: #fff;
  --textAccent01: #53ba20;
  --textAccent02: #3887ff;

  /* text colors */
  --icon01: #252b39;
  --icon02: #fff;
  --icon03: #7c8088;
  --icon04: #252b39;
  --icon05: #bdbfc3;
  --icon06: #fff;
  --iconAccent01: #53ba20;
  --iconAccent02: #3887ff;

  /* dataviz colors */
  --datavizUi01: #f3bd2b;
  --datavizUi02: #e9e9eb;
  --datavizAccent01: #53ba20;
  --datavizAccent01Add01: #a9dc87;
  --datavizAccent02: #ff6200;

  /* support colors */
  --support01: #ff6200;

  /* interaction colors */
  --focus: #febd2b;
  --hoverPrimary: #eba300;
  --hoverSecondary: #7c8088;
  --hoverAccent01: #339a00;
  --hoverAccent02: #1f70ea;
  --hoverUi01: rgba(37, 43, 57, 0.05);
  --activePrimary: #e69000;
  --activeSecondary: #7c8088;
  --activeAccent01: #53ba20;
  --activeAccent02: #3887ff;
  --disabled01: #fede95;
  --disabled02: #d3d5d7;
  --disabled03: #bdbfc3;
  --disabledAccent01: #a9dc87;
  --disabledAccent02: #9dc4ff;
  --highlightUi01: #fff5df;
  --highlightUi02: #f6f6f9;
  --highlightUiAccent01: #35f5de;
  --highlightUiAccent02: #e1edff;
  --highlightUiAccent03: #ffe7f0;
  --highlightUiSupport01: #ffefe5;

  /* headings font styles */
  --productiveHeading01Size: 28px;
  --productiveHeading01Weight: 400;
  --productiveHeading01Height: 40px;
  --productiveHeading02Size: 20px;
  --productiveHeading01Spacing: 0;
  --productiveHeading02Weight: 400;
  --productiveHeading02Height: 24px;
  --productiveHeading02Spacing: 0;
  --heading03Size: 16px;
  --heading03Weight: 600;
  --heading03Height: 24px;
  --heading03Spacing: 0;
  --heading04Size: 14px;
  --heading04Weight: 500;
  --heading04Height: 16px;
  --heading04Spacing: 0.08px;

  /* body font styles */
  --bodySmall01Size: 12px;
  --bodySmall01Weight: 400;
  --bodySmall01Height: 16px;
  --bodySmall01Spacing: 0.32px;
  --bodyShort01Size: 14px;
  --bodyShort01Weight: 400;
  --bodyShort01Height: 24px;
  --bodyShort01Spacing: 0.16px;
  --bodyLong01Size: 14px;
  --bodyLong01Weight: 400;
  --bodyLong01Height: 22px;
  --bodyLong01Spacing: 0.16px;

  /* productive font styles */
  --label01Size: 14px;
  --label01Weight: 600;
  --label01Height: 24px;
  --label01Spacing: 0.08px;
  --caption01Size: 12px;
  --caption01Weight: 400;
  --caption01Height: 16px;
  --caption01Spacing: 0.32px;

  /* border radius */
  --borderRadiusSmall: 2px;
  --borderRadiusRegular: 4px;
  --borderRadiusCircle: 100000px;

  /* spacers */
  --spacer8: 8px;
  --spacer16: 16px;
  --spacer24: 24px;
  --spacer32: 32px;
  --spacer40: 40px;
  --spacer48: 48px;
  --spacer56: 56px;
  --spacer64: 64px;
  --spacer72: 72px;
  --spacer80: 80px;
  --spacer88: 88px;
  --spacer96: 96px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  background-color: var(--uiBackgroundGrey);
}

ul {
  list-style: none;
}

.app {
  width: 100vw;
  height: 100vh;
  padding: 20px;

  /* overflow: hidden; */
  overflow: auto;
}

.app__content {
  position: fixed;
  top: 72px;
  right: 0;
  bottom: 0;
  left: 96px;
}
