.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 20px 0 32px;
  background-color: var(--uiBackgroundWhite);
}

.header__navigation {
  display: flex;
}

.header__title {
  font-weight: var(--productiveHeading01Weight);
  font-size: var(--productiveHeading01Size);
  line-height: var(--productiveHeading01Height);
  letter-spacing: var(--productiveHeading01Spacing);
}
