.radiobox__label {
  margin-bottom: 11px;
  color: var(--text01);
  font-weight: var(--label01Weight);
  font-size: var(--label01Size);
  line-height: var(--label01Height);
  letter-spacing: var(--label01Spacing);
}

.radiobox__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.radiobox__wrapper--horizontal {
  flex-direction: row;
}

.radiobox__wrapper--vertical {
  flex-direction: column;
}
