.tooltip {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url(../../../assets/img/finance_icons/20x20/icon-status-info-20.svg);
  cursor: pointer;
}

.tooltip__panel {
  position: absolute;
  top: -136px;
  left: 0;
  width: 216px;
  padding: var(--spacer8) 16px;
  color: var(--text05);
  font-weight: var(--bodySmall01Weight);
  font-size: var(--bodySmall01Size);
  line-height: var(--bodySmall01Height);
  letter-spacing: var(--bodySmall01Spacing);
  background-color: var(--ui08);
  border-radius: var(--borderRadiusRegular);
}

.tooltip__optional-text {
  color: var(--text04);
}
