.helper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 48px;
  height: 48px;
  background-color: var(--ui08);
  border-radius: var(--borderRadiusCircle);
  cursor: pointer;
}

.helper path {
  fill: var(--icon05);
}

.helper__panel {
  position: absolute;
  top: -164px;
  left: 0;
  width: 472px;
  padding: var(--spacer16) 44px var(--spacer16) 16px;
  background-color: var(--ui08);
  border-radius: var(--borderRadiusRegular);
}

.helper__panel::after {
  position: absolute;
  bottom: -6px;
  left: 18px;
  width: 12px;
  height: 12px;
  background-color: var(--ui08);
  transform: rotate(45deg);
  content: "";
}

.helper__text {
  color: var(--text05);
  font-weight: var(--bodyLong01Weight);
  font-size: var(--bodyLong01Size);
  line-height: var(--bodyLong01Height);
  letter-spacing: var(--bodyLong01Spacing);
}

.helper__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.helper__close polygon {
  fill: var(--icon05);
}

.helper__buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 16px;
}

.helper__buttons button {
  margin-left: 8px;
}