.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 96px;
  height: 100vh;
  background-color: var(--ui08);
}

.navigation__logo {
  width: 100%;
  height: 72px;
  background: url("./../../../public/main-logo.svg") center no-repeat;
}

.navigation__link-container {
  width: 100%;
}

.navigation-link {
  position: relative;
  width: 100%;
  height: 56px;
  padding-top: 7px;
  text-align: center;
  cursor: pointer;
}

.navigation-link--light {
  background-color: var(--ui07);
}

.navigation-link--active {
  border-left: 2px solid var(--interactive01);
}

.navigation-link--active,
.navigation-link:hover {
  background-color: var(--ui06);
}

.navigation-link__icon {
  fill: var(--text04);
}

.navigation-link--active .navigation-link__icon,
.navigation-link:hover .navigation-link__icon {
  fill: var(--text05);
}

.navigation-link__title {
  color: var(--text04);
  font-weight: var(--caption01Weight);
  font-size: var(--caption01Size);
  line-height: var(--caption01Height);
  letter-spacing: var(--caption01Spacing);
}

.navigation-link--active .navigation-link__title,
.navigation-link:hover .navigation-link__title {
  color: var(--text05);
}

.navigation__sublink {
  position: absolute;
  top: 0;
  left: 96px;
  display: none;
  width: 160px;
  padding: 16px;
  background-color: var(--ui06);
  border-top-right-radius: var(--borderRadiusRegular);
  border-bottom-right-radius: var(--borderRadiusRegular);
  cursor: default;
}

.navigation-link:hover .navigation__sublink {
  display: block;
}

.navigation__sublink-item {
  color: var(--text04);
  font-weight: var(--bodyShort01Weight);
  font-size: var(--bodyShort01Size);
  line-height: var(--bodyShort01Height);
  letter-spacing: var(--bodyShort01Spacing);
  cursor: pointer;
}

.navigation__sublink-item:not(:last-child) {
  margin-bottom: 8px;
}

.navigation__sublink-item:hover {
  color: var(--text05);
}
