.checkbox {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.checkbox--disabled {
  cursor: initial;
}

.checkbox__control {
  width: 20px;
  height: 20px;
}

.checkbox__control--checked {
  background-image: url(../../../assets/img/finance_icons/20x20/icon-toggle-checkbox-checked-20.svg);
}

.checkbox__control--unchecked {
  background-image: url(../../../assets/img/finance_icons/20x20/icon-toggle-checkbox-unchecked-20.svg);
}

.checkbox__control--indeterminate {
  background-image: url(../../../assets/img/finance_icons/20x20/icon-toggle-checkbox-tristate-20.svg);
}

.checkbox--disabled .checkbox__control--checked {
  background-image: url(../../../assets/img/finance_icons/20x20/icon-toggle-checkbox-checked-disabled-20.svg);
}

.checkbox--disabled .checkbox__control--unchecked {
  background-image: url(../../../assets/img/finance_icons/20x20/icon-toggle-checkbox-unchecked-disabled-20.svg);
}

.checkbox--disabled .checkbox__control--indeterminate {
  background-image: url(../../../assets/img/finance_icons/20x20/icon-toggle-checkbox-tristate-disabled-20.svg);
}

.checkbox__label {
  margin-left: 10px;
  color: var(--text01);
  font-weight: var(--bodyShort01Weight);
  font-size: var(--bodyShort01Size);
  line-height: var(--bodyShort01Height);
  letter-spacing: var(--bodyShort01Spacing);
}
