.notification {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr 36px;
  width: 328px;
  padding: 16px 0 16px 16px;
  font-weight: var(--bodyShort01Weight);
  font-size: var(--bodyShort01Size);
  line-height: var(--bodyShort01Height);
  letter-spacing: var(--bodyShort01Spacing);
  border-style: solid;
  border-width: 1px;
  border-left-width: 4px;
  border-radius: var(--borderRadiusRegular);
  box-shadow: 0 1px 20px 0 rgba(204,208,219,0.5);
}

.notification__icon polygon {
  fill: red;
}

.notification__header {
  grid-column: 2 /3;
  font-weight: var(--heading04Weight);
  font-size: var(--heading04Size);
  line-height: var(--heading04Height);
  letter-spacing: var(--heading04Spacing);  
}

.notification__text {
  grid-column: 2 /3;
}

.notification__close {
  grid-row: 1 /2;
  grid-column: 3 /4;
  align-self: center;
  width: 20px;
  height: 20px;
  background-image: url(../../../assets/img/finance_icons/20x20/icon-navigation-close-20.svg);
}

.notification__buttons {
  display: flex;
  grid-column: 2 /3;
  justify-content: flex-end;
  margin-top: var(--spacer16);
}

.notification__buttons button {
  width: 80px;
  margin-left: 8px;
}

.notification--success {
  border-color: var(--interactiveAccent01);
}

.notification--error {
  border-color: var(--support01);
}

.notification--warning {
  border-color: var(--interactive02);
}

.notification--transactional {
  border-color: var(--interactiveAccent02);
}