.radio-button {
  display: flex;
  align-items: center;
  margin-right: 17px;
  margin-bottom: 12px;
  cursor: pointer;
}

.radio-button__native-control {
  display: none;
}

.radio-button__custom-control {
  width: 18px;
  height: 18px;
  border: 1px solid var(--ui03);
  border-radius: var(--borderRadiusCircle);
}

.radio-button__native-control:checked ~ .radio-button__custom-control {
  background-color: var(--interactive01);
  border-color: var(--interactive01);
}

.radio-button__native-control:checked:disabled ~ .radio-button__custom-control {
  background-color: var(--disabled01);
  border-color: var(--disabled01);
}

.radio-button__native-control:checked ~ .radio-button__custom-control::after {
  display: block;
  width: 6px;
  height: 6px;
  margin: 5px;
  background: var(--icon01);
  border-radius: var(--borderRadiusCircle);
  content: "";
}

.radio-button__label {
  margin-left: 10px;
  color: var(--text01);
  font-weight: var(--bodyShort01Weight);
  font-size: var(--bodyShort01Size);
  line-height: var(--bodyShort01Height);
  letter-spacing: var(--bodyShort01Spacing);
}

.radio-button__native-control:disabled ~ .radio-button__label {
  color: var(--disabled03);
}
