.textarea {
  width: 256px;
  height: 40px;
  min-height: 40px;
  max-height: 128px;
  padding: 8px 16px;
  font-weight: var(--bodyLong01Weight);
  font-size: var(--bodyLong01Size);
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: var(--bodyLong01Height);
  letter-spacing: var(--bodyLong01Spacing);
  background-color: var(--uiBackgroundWhite);
  border: 1px solid var(--ui03);
  border-radius: var(--borderRadiusRegular);
  resize: none;
}

.textarea::placeholder {
  color: var(--text03);
}

.textarea__label {
  margin-bottom: 8px;
  color: var(--text01);
  font-weight: var(--label01Weight);
  font-size: var(--label01Size);
  line-height: var(--label01Height);
  letter-spacing: var(--label01Spacing);
}

.textarea__error-message {
  margin-top: 8px;
  color: var(--support01);
  font-weight: var(--caption01Weight);
  font-size: var(--caption01Size);
  line-height: var(--caption01Height);
  letter-spacing: var(--caption01Spacing);
}

.textarea__help-message {
  margin-top: 8px;
  color: var(--text03);
  font-weight: var(--caption01Weight);
  font-size: var(--caption01Size);
  line-height: var(--caption01Height);
  letter-spacing: var(--caption01Spacing);
}

.textarea__hidden-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  padding: 8px 16px;
  font-weight: var(--bodyLong01Weight);
  font-size: var(--bodyLong01Size);
  line-height: var(--bodyLong01Height);
  letter-spacing: var(--bodyLong01Spacing);
  word-wrap: break-word;
  border: 1px solid transparent;
  visibility: hidden;
}

.textarea-container--disabled .textarea__label {
  color: var(--disabled03);
}

.textarea-container--disabled .textarea {
  border-color: var(--disabled02);
}

.textarea-container--disabled .textarea::placeholder {
  color: var(--disabled03);
}
