.button {
  border: none;
  border-radius: var(--borderRadiusRegular);
  outline: none;
  cursor: pointer;
}

.button:disabled {
  cursor: default;
}

/* small button */
.button--small {
  padding: 4px 8px;
  font-weight: var(--bodySmall01Weight);
  font-size: var(--bodySmall01Size);
  line-height: var(--bodySmall01Height);
  letter-spacing: var(--bodySmall01Spacing);
}

/* medium button */
.button--medium {
  padding: 4px 16px;
  font-weight: var(--bodyShort01Weight);
  font-size: var(--bosyShort01Size);
  line-height: var(--bodyShort01Height);
  letter-spacing: var(--bodyShort01Spacing);
}

/* large button */
.button--large {
  padding: 8px 16px;
  font-weight: var(--bodyLong01Weight);
  font-size: var(--bodyLong01Size);
  line-height: var(--bodyLong01Height);
  letter-spacing: var(--bodyLong01Spacing);
}

/* primary button */
.button--primary {
  background-color: var(--interactive01);
}

.button--primary:hover {
  background-color: var(--hoverPrimary);
}

.button--primary:active {
  background-color: var(--activePrimary);
}

.button--primary:disabled {
  background-color: var(--disabled01);
}

/* secondary button */
.button--secondary {
  background-color: var(--interactiveAccent02);
}

.button--secondary:hover {
  background-color: var(--hoverAccent02);
}

.button--secondary:active {
  background-color: var(--activeAccent02);
}

.button--secondary:disabled {
  background-color: var(--disabledAccent02);
}

/* success button */
.button--success {
  background-color: var(--interactiveAccent01);
}

.button--success:hover {
  background-color: var(--hoverAccent01);
}

.button--success:active {
  background-color: var(--activeAccent01);
}

.button--success:disabled {
  background-color: var(--disabledAccent01);
}

/* light button */
.button--light {
  background-color: var(--uiBackgroundWhite);
  border: 1px solid var(--interactive01);
}

.button--light:hover {
  background-color: var(--uiBackgroundWhite);
  border: 1px solid var(--hoverPrimary);
}

.button--light:active {
  background-color: var(--highlightUi01);
  border: 1px solid var(--hoverPrimary);
}

.button--light:disabled {
  background-color: var(--uiBackgroundWhite);
  border: 1px solid var(--disabled01);
}

/* ghost button */
.button--ghost {
  background-color: var(--uiBackgroundWhite);
  border: 1px solid var(--interactive02);
}

.button--ghost:hover {
  background-color: var(--uiBackgroundWhite);
  border: 1px solid var(--hoverSecondary);
}

.button--ghost:active {
  background-color: var(--highlightUi02);
  border: 1px solid var(--hoverSecondary);
}

.button--ghost:disabled {
  background-color: var(--uiBackgroundWhite);
  border: 1px solid var(--disabled02);
}

.button--icon {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: 8px center;
}

.button--icon-add {
  background-image: url("./../../../public/icon-navigation-add-16.svg");
}
